data:
  name: {{ promptStringOnce . "name" "Your name" "Your Name" }}
  environment: {{ promptStringOnce . "environment" "Environment (personal/work)" "personal" }}
  work_email: {{ promptStringOnce . "work_email" "Work email" "work@example.com" }}
  personal_email: {{ promptStringOnce . "personal_email" "Personal email" "personal@example.com" }}