[user]
	name = {{ .name | default "Your Name" }}
{{- if eq (.environment | default "personal") "work" }}
	email = {{ .work_email | default "work@example.com" }}
{{- else }}
	email = {{ .personal_email | default "personal@example.com" }}
{{- end }}
[core]
	symlinks = true
[push]
	autoSetupRemote = true
