[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	symlinks = true
	excludesfile = ~/.gitexclude
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[push]
	autoSetupRemote = true
[ghq]
	root = ~/workspace
	root = ~/ghq
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
