[user]
	name = {{ .name }}
	email = {{ .email }}
[core]
	symlinks = true
	excludesfile = $HOME/.gitexclude
[push]
	autoSetupRemote = true
[ghq]
	root = ~/workspace
	root = ~/ghq
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
